@import "styles/variables";

.section-container {
  @include section;

  .content {
    @media (min-width: breakpoint(xl, min)) {
      position: absolute;
      top: 16%;
      left: 18%;
      max-width: 40%;
    }
    @media (min-width: breakpoint(lg, min)) and (max-width: breakpoint(lg, max)) {
      position: absolute;
      top: 16%;
      left: 8%;
      max-width: 50%;
    }
    @media (min-width: breakpoint(md, min)) and (max-width: breakpoint(md, max)) {
      position: absolute;
      top: 5%;
      left: 5%;
      max-width: 60%;
    }

    @media (max-width: breakpoint(sm, max)) {
      padding-top: 25px;
    }
  }
  .content-mobile {
    @include sectionContentMobile;
  }

  .model-container {
    * {
      z-index: 1;
    }

    @media (max-width: breakpoint(sm, max)) {
      position: relative;
    }
    .model {
      @include model;
      
      @media (min-width: breakpoint(lg, min)) {
        position: absolute;
        bottom: 0;
        left: 56%;
        max-width: 47%;
      }
      @media (min-width: breakpoint(md, min)) and (max-width: breakpoint(md, max)) {
        position: absolute;
        max-height: 60%;
        bottom: 0;
        right: -5%;
      }
      @media (max-width: breakpoint(sm, max)) {
        width: 100%;
        position: relative;
        right: -10%;

        object-fit: cover;
        height: 550px;
        object-position: top center;
      }
    }
    .box-dark {
      @include boxDark;
      
      @media (min-width: breakpoint(lg, min)) {
        position: absolute;
        bottom: 0%;
        left: 75%;
        width: 25%;
        height: 90%;
      }
      @media (min-width: breakpoint(md, min)) and (max-width: breakpoint(md, max)) {
        position: absolute;
        bottom: 0;
        right: -25%;
        width: 45%;
        height: 65%;
      }
      @media (max-width: breakpoint(sm, max)) {
        position: absolute;
        z-index: 1;
        bottom: 0%;
        right: 0;
        width: 55%;
        height: 80%;
      }
    }

    .box-light {
      @include boxLight;

      @media (min-width: breakpoint(lg, min)) {}
      @media (min-width: breakpoint(md, min)) and (max-width: breakpoint(md, max)) {}
      @media (max-width: breakpoint(sm, max)) {}
    }
  }
  &.shown {
    .model-container {
      .box-light {
        transition-delay: 250ms;
        transition: transform 2s;
        transform: translateY(0);
      }
    }
  }
}
