@import 'styles/variables';

:host {
  // padding: $section-padding;
}

.loading {
  color: color(primary);
  font-size: 45px;

  display: flex;
  justify-content: center;
}

label:not(.radio-label),
legend {
  @include font(primary, bold);

  &.required {
    padding-right: 10px;
    position: relative;
    &::before {
      content: '*';
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.form-control {
  &:focus {
    outline: 1px solid color(primary);
    box-shadow: none;
  }
}

select {
  option {
    color: color(primary);
  }
}

.radio-label {
  margin-right: 15px;
  span {
    margin-left: 5px;
  }
}

.btn-row {
  padding-top: 20px;
}

app-btn {
  font: 0.8em;
  height: 70px;
}

.has-error {
  label:not(.radio-label),
  legend,
  .errors {
    color: color(warning);
  }

  input,
  textarea,
  select {
    border-color: color(warning);
  }
}
